@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

body {
    font-family: "Montserrat", sans-serif;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 600; */
    font-style: normal;
}

input,
textarea,
select {
    font-size: 16px;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.montserrat-italic {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
}

.montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.montserrat-light {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 300 !important;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.montserrat-extrabold {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.montserrat-black {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.recharts-sector:focus {
    outline: none;
}

/* Union Jack Flag */
.union-jack {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            180deg,
            transparent,
            transparent 44%,
            #c8102e 44%,
            #c8102e 56%,
            transparent 56%,
            transparent 100%
        ),
        linear-gradient(
            90deg,
            transparent,
            transparent 45%,
            #c8102e 45%,
            #c8102e 55%,
            transparent 55%,
            transparent 100%
        ),
        linear-gradient(
            180deg,
            transparent,
            transparent 38%,
            #fff 38%,
            #fff 62%,
            transparent 62%,
            transparent 100%
        ),
        linear-gradient(
            90deg,
            transparent,
            transparent 42%,
            #fff 42%,
            #fff 58%,
            transparent 58%,
            transparent 100%
        ),
        linear-gradient(
                26.56505deg,
                transparent,
                transparent 82%,
                #c8102e 82%,
                #c8102e 89%,
                transparent 89%,
                transparent 100%
            )
            0 0/50% 100% no-repeat,
        linear-gradient(
                -26.56505deg,
                transparent,
                transparent 89%,
                #c8102e 89%,
                #c8102e 96%,
                transparent 96%,
                transparent 100%
            )
            50% 0/50% 100% no-repeat,
        linear-gradient(
                26.56505deg,
                transparent,
                transparent 89%,
                #c8102e 89%,
                #c8102e 96%,
                transparent 96%,
                transparent 100%
            )
            50% 50%/50% 100% no-repeat,
        linear-gradient(
                -26.56505deg,
                transparent,
                transparent 82%,
                #c8102e 82%,
                #c8102e 89%,
                transparent 89%,
                transparent 100%
            )
            0 50%/50% 100% no-repeat,
        linear-gradient(
            27deg,
            transparent,
            transparent 79%,
            #fff 79%,
            #fff 99%,
            transparent 99%,
            transparent 100%
        ),
        linear-gradient(
            153deg,
            transparent,
            transparent 79%,
            #fff 79%,
            #fff 99%,
            transparent 99%,
            transparent 100%
        ),
        #012169;
}